.App {
  text-align: center;
  background-color:rgb(178, 187, 139);
  
  
}

h1{
  font-family: cursive;
  text-shadow: 1px 1px 2px rgb(245, 235, 235);
  color:blue;
  font-weight: 600;
}
h2{
  font-family: cursive;
  text-shadow: 1px 1px 2px rgb(245, 235, 235);
  color:rgb(37, 121, 216);
  font-weight: 600;
}
input{
  height:20px;
  width:200px;
}
button{
  margin-left:5px;
  margin-top:10px;
  
}

.button-clear, .button-add{
color:red;
font-weight:500
}
.active-friends,.inactive-friends{
  font-family: cursive;

}